body{
	padding:0px;margin:0px;
	background:#BEEAE9;
	font-family: 'Noto Serif', san-serif;
	font-size:16px;
	color:#555555;
}

.icon {color: #e2e2e2;}

#wrapper {
	padding-left:15px;
	padding-right:15px;
}

#button {
	margin-bottom:15px;
}

.red { background-color: rgb(178, 113, 108);}
.green { background-color: rgb(108, 178, 137);}

input {
	font-size:16px;
	padding:2px;
}

h1 {
	color:#FFFFFF;
	font-size:44px;
}

button {
	font-family: 'Noto Serif', san-serif;
    background-color: #6CB2B0;
    border: none;
    color: white;
    padding: 7px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-size: 18px;
	margin:2px;
}
button:hover{cursor:pointer};

label {
	display:block;
}

#config {
	margin:5px;
	padding: 10px;
	border:2px solid #6CB2B0;
}

#status {
	position:fixed;
	bottom:0px;
	background:#6CB2B0;
	width:100%;
	height:20px;
	color:#FFFFFF;
	font-size:16px;
	padding:10px;
}

.field {
	padding-top:5px;padding-bottom:5px;
}

.hidden {display:none;}

.note{
	color: #6CB2B0;	
	font-size: 14px;
	display:inline-block;
}